<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./assets/css/main.css">
</head>
<body class="bg-[#fdfdfe]">
<div class="max-w-[1080px] mx-auto">
  <h1 class="flex items-center gap-3 mx-5">
    <img src="./assets/img/logo.svg" alt="LOGO">
    <span class="text-4xl font-bold">米表联盟</span>
  </h1>
  <ul class="flex gap-8 mt-16">
    <li class="flex-1 p-5 bg-white border-[0.5px] rounded-bento border-black/10 isolate">
      <h3 class="text-4xl">
        <span class="relative after:absolute after:-z-[1] after:h-2 after:left-0 after:right-0 after:bottom-0 after:bg-[#F1E0FF]">联合</span>
      </h3>
      <div class="text-base text-black/70 mt-2.5">
        <p>携手同行，共创未来</p>
        <p>让每个域名都能找到最适合的主人</p>
      </div>
    </li>
    <li class="flex-1 p-5 bg-white border-[0.5px] rounded-bento border-black/10 isolate">
      <h3 class="text-4xl">
        <span class="relative after:absolute after:-z-[1] after:h-2 after:left-0 after:right-0 after:bottom-0 after:bg-[#E1FFE0]">互利</span>
      </h3>
      <div class="text-base text-black/70 mt-2.5">
        <p>共谋发展，互惠互利</p>
        <p>让每一份投入都能获得最大的回报</p>
      </div>
    </li>
    <li class="flex-1 p-5 bg-white border-[0.5px] rounded-bento border-black/10 isolate">
      <h3 class="text-4xl">
        <span class="relative after:absolute after:-z-[1] after:h-2 after:left-0 after:right-0 after:bottom-0 after:bg-[#FFF0DE]">共赢</span>
      </h3>
      <div class="text-base text-black/70 mt-2.5">
        <p>齐心协力，共创辉煌</p>
        <p>让每个成员都能分享到成功的喜悦</p>
      </div>
    </li>
  </ul>
  <h2 class="text-4xl text-center my-14">联盟成员</h2>
  <ul class="flex gap-8">
    <li class="flex flex-col h-56 relative border-[0.5px] border-black/10 bg-white hover:bg-[#f6f7fa] hover:border-black/20 transition-colors duration-500 rounded-bento p-5 flex-1 shadow-bento">
      <div class="flex gap-2">
        <img class="object-cover shadow-avatar w-9 h-9 rounded-[10px] border-[0.5px] border-black/10" src=https://creatorspace.imgix.net/users/clib6fjfu003npj01e051codb/fI7GFR15XPPvndzf-559179.jpeg?w=300&h=300" alt="">
        <div>
          <h3 class="text-sm">熊宝的米表</h3>
          <p class="text-xs text-black/50">资深域名玩家，擅长新顶、单字符等。</p>
        </div>
      </div>
      <div class="absolute top-0 bottom-0 left-0 right-0 flex items-center justify-center text-4xl text-center hover:underline underline-offset-4">
        domain.fans
      </div>
      <ul class="flex gap-8 mt-auto -mb-1">
        <li class="flex items-center gap-1 font-bold cursor-help">
          <span class="w-4 h-3 bg-[#C0C7CC] text-white rounded-[3px] text-[10px] leading-3 text-center">LV</span>
          <span class="text-[#C0C7CC] text-[12px]">46</span>
        </li>
        <li class="flex items-center gap-1 font-bold cursor-help">
          <span class="w-4 h-3 bg-[#C0C7CC] text-white rounded-[3px] text-[10px] leading-3 text-center">UV</span>
          <span class="text-[#C0C7CC] text-[12px]">289</span>
        </li>
        <li class="flex items-center gap-1 font-bold cursor-help">
          <span class="w-4 h-3 bg-[#C0C7CC] text-white rounded-[3px] text-[10px] leading-3 text-center">RV</span>
          <span class="text-[#C0C7CC] text-[12px]">13</span>
        </li>
      </ul>
    </li>
    <li class="border-[0.5px] border-black/10 bg-white hover:bg-[#f6f7fa] hover:border-black/20 transition-colors duration-500 rounded-bento p-5 flex-1 shadow-bento">
      <div class="flex gap-2">
        <img class="object-cover shadow-avatar w-9 h-9 rounded-[10px] border-[0.5px] border-black/10" src=https://creatorspace.imgix.net/users/clib6fjfu003npj01e051codb/fI7GFR15XPPvndzf-559179.jpeg?w=300&h=300" alt="">
        <div>
          <h3 class="text-sm">熊宝的米表</h3>
          <p class="text-xs text-black/50">资深域名玩家，擅长新顶、单字符等。</p>
        </div>
      </div>
      <div class="my-5 text-4xl text-center hover:underline underline-offset-4">
        domain.fans
      </div>
    </li>
    <li class="border-[0.5px] border-black/10 bg-white hover:bg-[#f6f7fa] hover:border-black/20 transition-colors duration-500 rounded-bento p-5 flex-1 shadow-bento">
      <div class="flex gap-2">
        <img class="object-cover shadow-bento w-9 h-9 rounded-[10px] border-[0.5px] border-black/10" src=https://creatorspace.imgix.net/users/clib6fjfu003npj01e051codb/fI7GFR15XPPvndzf-559179.jpeg?w=300&h=300" alt="">
        <div>
          <h3 class="text-sm">熊宝的米表</h3>
          <p class="text-xs text-black/50">资深域名玩家，擅长新顶、单字符等。</p>
        </div>
      </div>
      <div class="my-5 text-4xl text-center hover:underline underline-offset-4">
        domain.fans
      </div>
    </li>
  </ul>
</div>
</body>
</html>