{% extends "base.html" %}

{% block title %}加入我们{% endblock %}

{% block content %}
<div class="steps">
  <div class="step-item">
    <h3 class="step-hd">
      <span class="step-num">1</span>
      <span class="step-txt">第一步</span>
    </h3>
    <p class="step-detail">在 <a class="inline-link"
        href="https://github.com/xiongbao/domain.cards/edit/main/resources/membership.json" target="_blank">这里</a> 修改
      <code class="inline-code">resources/membership.json</code>，将你的站点添加进去；
      <br>
      同时将你的头像 <code class="inline-code">[id].png</code>，上传到 <code class="inline-code">resources</code> 文件夹。这是一个 <a href="https://github.com/xiongbao/domain.cards/pull/1">Pull Request</a> 示例。
    </p>
  </div>
  <div class="step-item">
    <h3 class="step-hd">
      <span class="step-num">2</span>
      <span class="step-txt">第二步</span>
    </h3>
    <p class="step-detail">将联盟的 Badge 添加至您站点的底部。</p>
  </div>
</div>
<h2 class="px-5 mt-10 mb-8 mod-hd">
  <div class="mod-icon">
    <svg class="size-5" viewBox="0 0 24 24">
      <path
        d="M12.9,2.6l2.3,5c0.1,0.3,0.4,0.5,0.7,0.6l5.2,0.8C22,9,22.3,10,21.7,10.6l-3.8,3.9c-0.2,0.2-0.3,0.6-0.3,0.9   l0.9,5.4c0.1,0.8-0.7,1.5-1.4,1.1l-4.7-2.6c-0.3-0.2-0.6-0.2-0.9,0l-4.7,2.6c-0.7,0.4-1.6-0.2-1.4-1.1l0.9-5.4   c0.1-0.3-0.1-0.7-0.3-0.9l-3.8-3.9C1.7,10,2,9,2.8,8.9l5.2-0.8c0.3,0,0.6-0.3,0.7-0.6l2.3-5C11.5,1.8,12.5,1.8,12.9,2.6z" />
    </svg>
  </div>
  <span class="mod-text">选择Badge</span>
</h2>
<div class="input-form">
  <div class="input-feild">
    <input id="your-domain" type="text" placeholder="请输入你的米表域名">
  </div>
  <button onclick="getYourCode()" class="btn-link">
    <span class="btn-text">获取代码</span>
  </button>
</div>
<div class="badges">
  <div class="badge-item">
    <div class="badge-show">
      <img src="/assets/img/logo.svg" alt="">
    </div>
    <div class="badge-detail">
      <div contenteditable="true" class="badge-code">&lt;a title=&quot;米表联盟[Domain.Cards]&quot;
        href=&quot;https://domain.cards/&quot;&gt;&lt;img height=&quot;18px&quot;
        src=&quot;https://domain.cards/api/icon/[domain]&quot;&gt;&lt;/img&gt;&lt;/a&gt;</div>
      <div class="actions">
        <button class="btn-copy" onclick="copyToClipboard('icon')">
          <svg class="size-4" viewBox="0 0 24 24">
            <path
              d="M20 2H10c-1.103 0-2 .897-2 2v4H4c-1.103 0-2 .897-2 2v10c0 1.103.897 2 2 2h10c1.103 0 2-.897 2-2v-4h4c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2zM4 20V10h10l.002 10H4zm16-6h-4v-4c0-1.103-.897-2-2-2h-4V4h10v10z" />
            <path d="M6 12h6v2H6zm0 4h6v2H6z" />
          </svg>
          <span>复制代码</span>
        </button>
      </div>
    </div>
  </div>
  <div class="badge-item">
    <div class="badge-show">
      <img src="/assets/img/badge.svg" alt="">
    </div>
    <div class="badge-detail">
      <div contenteditable="true" class="badge-code">&lt;a title=&quot;米表联盟[Domain.Cards]&quot;
        href=&quot;https://domain.cards/&quot;&gt;&lt;img height=&quot;18px&quot;
        src=&quot;https://domain.cards/api/badge/[domain]&quot;&gt;&lt;/img&gt;&lt;/a&gt;</div>
      <div class="actions">
        <button class="btn-copy" onclick="copyToClipboard('badge')">
          <svg class="size-4" viewBox="0 0 24 24">
            <path
              d="M20 2H10c-1.103 0-2 .897-2 2v4H4c-1.103 0-2 .897-2 2v10c0 1.103.897 2 2 2h10c1.103 0 2-.897 2-2v-4h4c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2zM4 20V10h10l.002 10H4zm16-6h-4v-4c0-1.103-.897-2-2-2h-4V4h10v10z" />
            <path d="M6 12h6v2H6zm0 4h6v2H6z" />
          </svg>
          <span>复制代码</span>
        </button>
      </div>
    </div>
  </div>
  <div class="badge-item">
    <div class="badge-show">
      <img width="80%" src="/assets/img/card.svg" alt="">
    </div>
    <div class="badge-detail">
      <div contenteditable="true" class="badge-code">&lt;a title=&quot;米表联盟[Domain.Cards]&quot;
        href=&quot;https://domain.cards/&quot;&gt;&lt;img height=&quot;18px&quot;
        src=&quot;https://domain.cards/api/card/[domain]&quot;&gt;&lt;/img&gt;&lt;/a&gt;</div>
      <div class="actions">
        <button class="btn-copy" onclick="copyToClipboard('card')">
          <svg class="size-4" viewBox="0 0 24 24">
            <path
              d="M20 2H10c-1.103 0-2 .897-2 2v4H4c-1.103 0-2 .897-2 2v10c0 1.103.897 2 2 2h10c1.103 0 2-.897 2-2v-4h4c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2zM4 20V10h10l.002 10H4zm16-6h-4v-4c0-1.103-.897-2-2-2h-4V4h10v10z" />
            <path d="M6 12h6v2H6zm0 4h6v2H6z" />
          </svg>
          <span>复制代码</span>
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  const iconElement = document.querySelector('.badge-item:nth-child(1) .badge-show img');
  const badgeElement = document.querySelector('.badge-item:nth-child(2) .badge-show img');
  const cardElement = document.querySelector('.badge-item:nth-child(3) .badge-show img');
  const iconCodeElement = document.querySelector('.badge-item:nth-child(1) .badge-code');
  const badgeCodeElement = document.querySelector('.badge-item:nth-child(2) .badge-code');
  const cardCodeElement = document.querySelector('.badge-item:nth-child(3) .badge-code');
  const iconCodeDefault = iconCodeElement.innerHTML;
  const badgeCodeDefault = badgeCodeElement.innerHTML;
  const cardCodeDefault = cardCodeElement.innerHTML;
  function getYourCode() {
    let domain = document.getElementById('your-domain').value;
    if (domain === '') {
      alert('请输入你的米表域名');
      return;
    }
    iconElement.src = `/api/icon/${domain}`;
    badgeElement.src = `/api/badge/${domain}`;
    cardElement.src = `/api/card/${domain}`;
    iconCodeElement.innerHTML = iconCodeDefault.replace('[domain]', domain);
    badgeCodeElement.innerHTML = badgeCodeDefault.replace('[domain]', domain);
    cardCodeElement.innerHTML = cardCodeDefault.replace('[domain]', domain);
  }
  function HTMLDecode(text) {
    var temp = document.createElement("div");
    temp.innerHTML = text;
    var output = temp.innerText || temp.textContent;
    temp = null;
    return output;
  }
  function copyToClipboard(type) {
    let codeElement = type === 'icon' ? iconCodeElement : type === 'badge' ? badgeCodeElement : cardCodeElement;
    let code = HTMLDecode(codeElement.innerHTML);
    let input = document.createElement('input');
    input.setAttribute('readonly', 'readonly');
    input.setAttribute('value', code);
    document.body.appendChild(input);
    input.select();
    input.setSelectionRange(0, 9999);
    document.execCommand('copy');
    document.body.removeChild(input);
    alert('复制成功');
  }
</script>
{% endblock %}